@import 'zen';

.profiles-2x2 {

  .views-row {
    @include zen-grid-container();
    $zen-column-count: 1;
    $zen-gutter-width: 1em;

    margin-bottom: 1em;

    .views-column {
      @include zen-grid-item(1, 1);
      @include zen-clear();
    }
  }

  @media all and (min-width: 675px) {

    .views-row {
      $zen-column-count: 2;

      .views-column {
        @include zen-clear(none);
      }

      .views-column-first {
        @include zen-grid-item(1, 1);
      }

      .views-column-last {
        @include zen-grid-item(1, 2);
      }
    }

  }

  .views-field {
    margin-left: 155px;
    margin-bottom: 0.5em;
  }

  .views-field-title {
    margin-bottom: 0;
  }

  .profile-2x2-image {
    float: left;
    margin: 0;
  }

  .profile-2x2-name h3 {
    color: #787855;
    margin: 0;
  }

  .profile-2x2-class {
    font-style: italic;
  }

  .profile-2x2-bio h3 {
    font-size: 100%;
    font-weight: bold;
  }

  .profile-2x2-link {
    font-size: 75%;
  }
}
